body {
          padding: 0px;
          margin: 0px;
          background: #000;

}

header {
          margin: 0px;
          padding: 0px;
         
          display: flex;
          align-items: center;
          justify-content: center;
          align-items: center;
          border-color: white;
          border-bottom-style:solid;
          border-radius: 20px;
}

nav {
          height: 7vh;
          width: 100vw;
          margin: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          


}

#logo {
          width:7vw;
          height: 4.5vh;
}


#navigation_container{
          width: 45vw;
          background: #000;
          height: 7vh;
          align-items: center;
          display: flex;
          justify-content: space-between;
}
#navigation_container a{
          color: white;
          font-style: bold;
          font-family: "Coiny";
          font-size: 20px;
          text-transform: uppercase;
          font-weight: bolder;
          text-decoration: none;
}
#feedback_continer{
          width: 5vw;
          height: 7vh;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: space-between;


}
#feedback_continer img{
          height: 20px;
}